<div class="title-bar" data-responsive-toggle="mainNavigation" data-hide-for="medium">
    <div class="title-bar-left">
        <button id="nav_button" class="menu-icon" type="button" data-toggle="mainNavigation"></button>
        <div class="title-bar-title">Reddit - Silver Edition</div>
    </div>
</div>
<div class="top-bar" id="mainNavigation">
    <div class="top-bar-left">
        <ul class="menu vertical medium-horizontal">
            <li class="menu-text hide-for-small-only">Reddit - Silver Edition</li>
            <li><a href="/">Home</a></li>
            <li><a href="#" id="nav_hot">Hot</a></li>
            <li><a href="#" id="nav_top">Top</a></li>
            <li><a href="#" id="nav_new">New</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <div class="input-group input-group-rounded">
            <input id="search_input" class="input-group-field" type="search">
            <div class="input-group-button">
                <input id="search_button" type="submit" class="button secondary" value="Search">
            </div>
        </div>
    </div>
</div>